*{
box-sizing: border-box;
text-align: center;
}

header {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 20px;

}

h1 {color: red;
    font-family: arial;
}

div {padding: 10px;
}

.profile-pic {
    clear: both;
    float: left;
}

p {
    color: #eee;
}

.bio{
    background-color: darkblue;
    margin: 20px;
    width: 100%;
    padding: 20px;
    overflow: auto;
}

footer {
    padding: 10px;
    background-color: #eee;
    margin-bottom: 20px;

}